header img{
  width: 268px;
  height: 33px;
}
.About, .Career:hover, .Departments:hover {
  color: #00b39b;
  text-decoration: none;
}
.Career, .Departments {
  color: #ABABAB;
}
header nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.mediclogo {
  width: 40px;
  height: 40px;
}
.imgmediclogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sectionp1 {
  color: #00B39B;
  font-family: Arial, sans-serif;
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
  margin-top: 8rem;
  font-weight: 300;
  font-size: 3.29rem;
}
.twoparagraphs {
  color: #747474;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 260px;
  padding-right: 280px;
  width: 100%;
  justify-content: space-between;
}
.forsection img {
  width: 25px;
  height: auto;
}
.for1 {
  background-color: #00ccb1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for1 select {
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}
.for2 {
  background-color: #3d83df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for2 select {
  background-color: #3d83df;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
.for3 {
  background-color: #1b2734;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for3 select {
  background-color: #1b2734;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
option {
  font-weight: normal;
  display: block;
  white-space: collapse;
  flex-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.for1 #for1title, .for2 #for2title, .for3 #for3title {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
  font-family: Work Sans, Arial, sans-serif;
}
.forsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.375em 1.25em 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3.75rem auto 2.5rem;
  color: #fff;
  font-family: Work Sans, Arial, sans-serif;
  max-width: 1015px;
  padding: 0 20px;
  position: relative;
}
.section3 {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.section3 div {
  width: 60%;
  display: flex;
}
#section3title {
  font-size: 1.625em;
  margin: 0.25em 0 0.35em;
  padding-right: 1em;
  color: #00b39b;
  font-family: Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
#section3logos {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
}
#section3logos img {
  width: 7.5rem;
  object-fit: contain;
}
.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
  background-color: #d0faf4;
  padding-left: 50px;
}
.section4header {
  font-family: Arial, sans-serif;
  padding-top: 60px;
}
.section4header h2 {
  color: #00b39b;
  font-weight: 300;
  letter-spacing: -0.3px;
  padding-left: 50px;
}
.section4header p {
  padding-left: 50px;
  padding-top: 20px;
  font-size: 15px;
  color: #747474;
  padding-bottom: 50px;
}
.section4fourparts {
  display: flex;
  margin-right: 50px;
  height: 100%;
  justify-content: space-around;
  margin-left: 100px;
}
.section4fourparts div {
  height: 500px;
  width: 250px;
}
.first2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
}
.second2 {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
#leader, #patients, #appointments, #doctors {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  text-align: center;
  width: 220px;
  border-radius: 2px;
}
#leader {
  margin-bottom: 20px;
}
#leader img, #patients img, #appointments img, #doctors img {
  width: 25px;
  height: auto;
}
.section4fourparts h3 {
  font-size: 1.8461538462em;
  color: #00b39b;
  font-family: Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.3px;
}
.section4fourparts p {
  font-size: 0.8125em;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}
#appointments {
  margin-bottom: 20px;
}
img {
  vertical-align: middle;
}
.section5 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
  width: 100%;
}
.section5 h3 {
  font-size: 2.1428571429em;
  color: #00b39b;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: -0.5px;
  text-align: center;
}
.section5 p {
  margin: 1.6em 0;
  line-height: 1.7142857143;
  text-align: center;
  font-weight: 400;
  font-family: Roboto, Arial, sans-serif;
  color: #747474;
}