header img{
  width: 268px;
  height: 33px;
}
.About, .Career:hover, .Departments:hover {
  color: #00b39b;
  text-decoration: none;
}
.Career, .Departments {
  color: #ABABAB;
}
header nav{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.mediclogo {
  width: 40px;
  height: 40px;
}
.imgmediclogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.sectionp1 {
  color: #00B39B;
  font-family: Arial, sans-serif;
  font-weight: 300;
  padding-top: 20px;
  text-align: center;
  margin-top: 8rem;
  font-weight: 300;
  font-size: 3.29rem;
}
.twoparagraphs {
  color: #747474;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 260px;
  padding-right: 280px;
  width: 100%;
  justify-content: space-between;
}
.forsection img {
  width: 25px;
  height: auto;
}
.for1 {
  background-color: #00ccb1;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for1 select {
  background-color: #00ccb1;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
}
.for2 {
  background-color: #3d83df;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for2 select {
  background-color: #3d83df;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
.for3 {
  background-color: #1b2734;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 2em 2em 0;
  justify-content: space-between;
  height: 345px;
}
.for3 select {
  background-color: #1b2734;
  border: none;
  text-decoration: underline;
  margin-bottom: 30px;
  font-style: bold;
}
option {
  font-weight: normal;
  display: block;
  white-space: collapse;
  flex-wrap: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
}
.for1 #for1title, .for2 #for2title, .for3 #for3title {
  font-size: 1.625em;
  font-weight: 400;
  color: #fff;
  margin: 0.3em 0;
  font-family: Work Sans, Arial, sans-serif;
}
.forsection {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  padding: 1.375em 1.25em 0;
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  margin: 3.75rem auto 2.5rem;
  color: #fff;
  font-family: Work Sans, Arial, sans-serif;
  max-width: 1015px;
  padding: 0 20px;
  position: relative;
}