h2,h3 {
    color: red;
    font-family: roboto;
    text-align: center;
}
.About {
    text-align: center;
}
.title {
    color: blue;
}
#blue-bordered {
    border: 5px dashed blue;
}
.onglets:link {
    color: tomato;
}