body {
    font-family: roboto;
    padding: 0%;
    margin: 0%;
    background-color: #000;
}
header{
    height:80vh;
    background: url('https://cutt.ly/TzafOyS');
    background-position: center;
    color: #fff;
    text-align:center;
  }
  
  header nav{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
    padding:20px;
    color:#000;
  }
  
  header nav a{
    color:#bababa;
    text-decoration:none;
    margin-right:10px;
  }
  header nav a:hover {
    color:#fff;
    border-bottom: #919191 solid 1px;
  }
  header .principal{
    margin-top: 40px;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  
  header .principal h4{
    margin-top: -20px;
    padding:20px;
  }
  .About{
    text-align: center;
    background-color: #222f3e;
    color:#fff;
    padding:30px;
    flex-wrap:wrap;
  }
  .About h3{
    text-align: center;
  }
  .About .gauche{
    width: 60%;
    margin-right:10px;
  }  
  .Travail{
    background-color: black;
    color: #fff;
  }
  .work{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  .Travail > h2 {
    text-align: center;
  }
  .CV{
    text-align: center;
    background-color: #222f3e;
    color:#fff;
    overflow-x: auto; 
    padding:20px;
  }
  footer {
    background-color: #18212b;
    padding: 30px;
    color: #fff;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }
  footer .social-media{
    display: flex;
  }
  
  footer .social-media p{
    margin-right: 15px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 5px;
    text-align:center;
    width: 20px;
    cursor:pointer;
  }  